.container{
    margin-top: 100px;
}

.left{
    width:50%; 
    float: left;
}

.right{
    width:50%;  
    float: right;
}
img.filltable{
    width: 40%;
    height: 450px;
    margin-left: 25%;
}
div img#logo{
   position:fixed;
   width:120px;
   height: 75px;;
   margin-top:0px;
   margin-left:600px;
   margin-bottom: 50px;
}

div img.pants {
    /* width: 150px; */
    height: 160px;
}
div img.hatt {
    width: 10%;
    height: 50px;
}
img.face {
    width: 26%;
    height: 150px;
}
img.shoe {
    width: 10%;
    height: 40px;
}
img.shirt {
    width: 26%;
    height: 140px;
}
